@charset "utf-8";
/* CSS Document */
.boss { -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; width: 115px; margin: 0 0 20px; height: 115px; overflow: hidden; border: 2px solid #68b622; }
.boss img { max-width: 118px !important;
margin: -2px 0 0 -1px !important;
 width: 118px;
float: none !important;
clear: none !important; max-height: 1000px !important;}

.boss2 { -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; width: 115px; margin: 0 18px 0 0; height: 115px; overflow: hidden; border: 2px solid #fff; display: inline-block;
float: left;}
.boss2 img { max-width: 118px !important;
margin: -2px 0 0 -1px !important;
 width: 118px;
float: none !important;
clear: none !important; max-height: 1000px !important;}

.span6 { padding-top: 35px;}

.imgWrap {
    text-align: center;
}
 @media (min-width: 768px) and (max-width: 979px) {
#headerwrap .span6 { width: 567px; }
}
.circleOnly { display: inline-block; width: 7px; height: 7px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: #FFF; margin: 0 2px 3px 0; }
.logoFooter { margin: 9px 0 0 11px; }

.navbar-inverse .nav li.dropdown > a:hover .caret {
  border-top-color: #68b622;
  border-bottom-color: #68b622;
}

.navbar-inverse .nav li.dropdown > a:focus .caret, .navbar-inverse .nav li.dropdown > a:active .caret  {border-top-color: #FFF !important;
  border-bottom-color: #FFF !important;}


.carousel {
position: relative;
margin-bottom: 0px;
line-height: 1;
width: 411px !important;
height: 198px !important;
margin: 74px 20px 0 85px !important;
background: rgba(255,255,255,0.8);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float: right;
}
/*
.carousel {
position: relative;
margin-bottom: 0px;
line-height: 1;
width: 331px !important;
height: 200px !important;
margin: 92px 0 0 116px !important;
}*/


.carousel-inner > .item {

  margin: 10px 0 0 0;
}

.projects .span4:hover .desc {
background-color: #68b622;
color: #FFF;
}

.projects .span4:hover .desc h5 {color: #FFF;}

.q1 { width: 18px; height: 15px; background: url(../img/q1.png); display: inline-block; margin: 0 7px 0 0;opacity: 0.9;}

.q2 {width: 18px; height: 15px; background: url(../img/q2.png); display: inline-block; margin: 0 0 0 7px;opacity: 0.9;}
.white { background-color: #FFF; padding: 15px 0 0 0; min-height: 200px;}

#herowrap {
background-color: #E9E9E9 !important;
}

#herowrap h3 {
	margin: 0 0 0 50px;
}


aside{
	/*background: #f2f2f2;*/
	padding: 10px 15px 0 15px;
	margin: 0 0 30px 0;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  box-shadow: 0 2px 0 rgba(0,0,0,0.03);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside .widget{
	margin-bottom:30px;
}


aside .widget ul {
	list-style:none;
	margin-left:0;
}

aside .widget ul li {
	border-bottom:1px dotted #efefef;
	margin:15px 0 0 0;
	padding-bottom:5px;
}

aside .widget h4{
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
	margin-bottom:15px;
}
/* categories */
aside .widget ul {
	list-style:none;
	margin-left:0;
	padding: 0;
	margin: 0;
}
aside .widget ul li {
	padding-left:24px;

	background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
	background-position: 6px 5px;
	line-height: 19px;
}
aside .widget ul li a {
	color:#444;
	margin: 0 0 0 2px !important;
	text-transform: capitalize !important; 
}
aside .widget ul li a:hover {
	text-decoration:none;
	background: none;
}

/* recent posts */

aside .widget ul.recent-posts li {
	overflow:hidden;
	display:inline-block;

}

aside .widget ul.recent-posts li a{
	color:#444;
	text-align:left;
	font-weight:600;

}

aside .widget ul.recent-posts li a:hover {
	text-decoration:none;
}

aside .widget ul.recent-posts li span.date {
	float:left;
	font-size:11px;
	margin-top:10px;

}

aside .widget ul.recent-posts li span.comment {
	float:left;
	margin-left:20px;
	font-size:11px;
	margin-top:10px;
}

/* tags */
aside .widget ul.tags li {
	display:inline;
	border:none;
}

aside .widget ul.tags li a {
	margin-bottom:10px;
	border:none;
	color:#fff;
}

aside .widget ul.cat li ul li { border: 0;}

.admin .navbar.navbar-inverse.navbar-fixed-top { position: fixed;z-index: 99999999;top: 71px;right: 0;width: 200px !important;left: auto;display: inline-block; }
.admin div {width: 200px !important;}

.admin .navbar.navbar-inverse.navbar-fixed-top .navbar-inner { /*background: #E4E4E4;*/ /*background: #E9E9E9;*/ background: #DFDFDF; padding: 10px 0 12px 0;}


@media (max-width: 979px) {
 .admin .navbar.navbar-inverse.navbar-fixed-top .navbar-inner { opacity:0.8;}
 }
.info h3:first-child { margin-top: 0 !important;}

.info ul li {
    line-height: 25px;

    margin: 7px 0;
}

.info .span3 img { max-height: 100px}

.info .span2 img { max-height: 100px; vertical-align: -webkit-baseline-middle;}

.form-horizontal.contact_form #submit { margin: 20px 0 0 0; }

#message {
width: 100%;
height: 100px;
}



.info .boss2 .img-circle.arvid { width: 137px; max-width: 10000px !important; margin: 0px 0 0 -9px !important;}

.info .boss2 .img-circle.arvid.Jan { width: 89px; max-width: 10000px !important; margin: 1px 0 0 10px !important;}

.rowMine { width: 100%; display: inline-block; vertical-align: middle;}
/*
.rowMine .span2 { float: right !important; vertical-align: middle; min-height: 50px;}
.rowMine .span3{ float: right !important;}*/
.info img { float: right; clear: both; max-height: 100px;max-width: 200px;margin: 0 0 20px 0;}

.info h3 { display: inline-block;}

.boss2 + h3 { display: block;}


.well.sidebar-nav { min-height: inherit;
 padding: inherit;
 margin-bottom: auto;
 background-color: transparent;
 border: none;
 -webkit-box-shadow: none;
-moz-box-shadow: auto !important;
 box-shadow: none;}

 .justWrap {
    margin-bottom: 20px;  font-family: 'Open Sans', sans-serif;  font-size: 16px;
    text-align: left;    line-height: 29px;
}

#welcomewrap .span12 { margin-left: 0;}

.boss2 + p { display: flex;}

.info p { margin: 0px 0;line-height: 29px; font-size: 14px; }
.info { font-size: 14px;}
.info h5 { font-size: 15px;}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus  { color: #68b622; background-color: transparent; text-shadow: none;}

#headerwrap .carousel p { margin-left: 0; }

.rheading{ text-transform: capitalize; }

.span7{ margin-top: 94px; }
.span7 a{ margin-right: 10px; }
.span7 a:hover{ color: #fff; }

.linkedin, .twitter, .mail, .telegram{ background-color: #007bb5; color: #fff; padding: 10px 20px; font-weight: bold;}
.twitter{ background-color:  #55acee;}
.telegram { background-color: #0088cc;}
.mail { background-color: #68b622;}
a, a:active{color: #68b622; text-decoration: none; text-transform: capitalize;}
a:hover{ opacity: .75;}
.green-link{ color: #9ebf25;}
.span6 p {margin-bottom: 0;}
.info img {max-height: 180px; }
.span9 p img {margin-top: 15px;}

/* Sticky footer styles
-------------------------------------------------- */
html {position: relative;min-height: 100%;}
body { margin-bottom: 250px;}
#footer {position: absolute;bottom: 55px;width: 100%;}
#copyright{position: absolute;bottom: 0;width: 100%;}
body { background-color: #FFF}
