http://incubaid.aydo.com:8888 {
    bind 0.0.0.0
    gzip
    root www.incubaid.com/site
    git {
       repo git@git.aydo.com:static-websites/www-incubaid.git
       interval 300
       key ../keys/id_rsa
       path ../..
       then hugo -s www.incubaid.com
    }
}