http://incubaid.com:83, http://www.incubaid.com:83 {
    bind 0.0.0.0
    gzip
    root www.incubaid.com/site
    git {
        repo git@github.com:Incubaid/www-incubaid.git
        branch master
        interval 60
        key ../keys/id_rsa
        path ../..
        then hugo -s www.incubaid.com
    }
}
