{{ range $element :=  $.Site.Pages }}
    {{ if eq .Section "home" }}
        {{ if eq .Title "footer_box" }}
			<div id="footer">
			  <div class="container">
			    <div class="row">
			      <div class="span3">
			        <p><a href="http://www.incubaid.com"><img src='img/logo-footer.png' alt='img/logo-footer.png'  style='clear:both;'></a></p>
			        <p><a href="http://www.threefold.tech" target="_blank"><img src='img/tftech-logo2.png' alt='img/logo-footer.png'  style='clear:both;' ></a></p>
			      </div>
			      <div class="span3">
			        <h4>{{ .Params.block1_header }}</h4>
			        <p>{{ .Params.block1_text }}</p>
			      </div>
			      <div class="span3">
			        <h4>{{ .Params.block2_header }}</h4>
			        <p>{{ .Params.block2_text }}</p>
			      </div>
			      <div class="span3">
			        <h4>{{ .Params.block3_header }}</h4>
			        <p>{{ range $element := .Params.block3_text }} {{$element}} <br> {{ end }}</p>
			      </div>
			    </div>
			  </div>
			</div>
			<div id="copyright">
			  <div class="container">
			    <div class="row">
			      <div class="span9">
			        <p>{{ .Params.copyright }}</p>
			      </div>
			      <div class="span3"> </div>
			    </div>
			  </div>
			</div>
        {{ end }}
    {{ end }}
{{ end }}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19757426-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/theme.js"></script>
</body>
</html>
